@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<p>
    Email: Cadenjthompson23@gmail.com
</p>
<p>
    Linkedin: linkedin.com/in/caden-thompson
   
    
</p>
<p>
    Github: https://github.com/Nedac23
</p>
