@page
@model IndexModel
@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5 ">
    <div class="row">
        <div class=" col-md-4 text-center">
            <!-- Profile image -->
            <img src="~/images/Headshot.jpg" alt="My Photo" class="img-fluid rounded-pill shadow" style="max-width: 200px;">
        </div>

        <div class="col-md-8">
            <h1 class="col-md-4">@ViewData["Title"]</h1>
            <p class="lead">
                I recently graduated with a B.S. in Computer Science from Mississippi State University, earning Summa Cum Laude (3.97 GPA) with honors and a concentration in Artificial Intelligence and Human-Computer Interaction. During my time at MSU, I worked as an Undergraduate Research Assistant, where I developed a virtual reality application to study visual illusions.
                I’ve also completed impactful projects that combined theory with real-world application that can be found on the projects page of this website.
                These projects and experiences strengthened my skills in AI, machine learning, computer vision, VR/AR, and simulation design, while sharpening my collaboration, problem-solving, and software engineering abilities.
                I am actively searching for a fulfilling job in the field of computer science!

            </p>
            <p>
               
            </p>
            <p>



            </p>
<!--
            <h2 class="col-md-4">Skills</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">C# / .NET</li>
                <li class="list-group-item">ASP.NET Core (Web Development)</li>
                <li class="list-group-item">SQL & Database Design</li>
                <li class="list-group-item">Unity Game Development</li>
            </ul>

            <h2 class="mt-4">Resume</h2>
            <p>

                <a href="~/files/resume.pdf" class="btn btn-outline-dark" target="_blank">Download Resume</a>
            </p>
                        -->
        </div>




        <div class="row">
            <!-- Left column -->
            <div class="col-md-6">
                <h2>Skills</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">C# / .NET</li>
                    <li class="list-group-item">ASP.NET Core (Web Development)</li>
                    <li class="list-group-item">SQL</li>
                    <li class="list-group-item">C/C++</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Unity Game Development 3D, 2D, and VR</li>
                    <li class="list-group-item">Windows, Linux/Ubuntu</li>
                </ul>
            </div>

            <!-- Right column -->
            <div class="col-md-6">
                <h2><br/></h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">PyTorch</li>
                    <li class="list-group-item">OpenAI Gym</li>
                    <li class="list-group-item">OpenCV</li>
                    <li class="list-group-item">Scikit-learn</li>
                    <li class="list-group-item">Godot Game Development</li>
                    <li class="list-group-item">Git, Github, Unity Version Control</li>
                    <li class="list-group-item">MATLAB</li>
                </ul>
            </div>
        </div>

        <!-- Resume section -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Resume</h2>
                <p>
                    <a href="~/files/resume.pdf" class="btn btn-outline-dark" target="_blank">Download Resume</a>
                </p>
            </div>
        </div>





    </div>
</div>
