@page
@model PEModel
@{
    ViewData["Title"] = "Professional Experience";
}
<h1>@ViewData["Title"]</h1>
<br />
<br/>


<div class="job-card p-4 mb-5">
    <h2 class="job-title">Undergraduate Research Assistant</h2>
    <h4 class="company-location">High Fidelity Virtual Environments Lab - Mississippi State University</h4>
    <p class="job-description">
        • Developed a Virtual Reality Application, a 3D application, and a traditional 2D application in Unity to display
        optical illusions <br />
        • VR and 3D applications displayed an optical illusion using stereoscopic separation as queues for depth. <br />
        • Conducted a study of 12 participants using these applications to study the effects of an optical illusion on depth
        perception.<br />
        <br />
        Skills – Unity 3D, Unity VXR, C#, Python, Overleaf/LaTeX, Python Pandas, Human Subjects Research <br />
        <br />
        Completed and defended the honors thesis -
        <a href="https://doi.org/10.54718/EIES8652">https://doi.org/10.54718/EIES8652</a>
    </p>
    <div class="job-images mt-3">
        <img src="images/EH.jpg" class="img-fluid me-2" style="max-width:400px;" />
        <img src="images/All.png" class="img-fluid" style="max-width:400px;" />
    </div>
</div>
<div class="job-card p-4 mb-5">
    <h2 class="job-title">Sales Assossiate</h2>
    <h4 class="company-location">Carter's Diamond Jewelers - Picayune, Mississippi</h4>
    <p class="job-description">
        •	Worked in a competitive sales environment.<br />
        •	Documented, inspected, and filed customer merchandise for repair.<br />
        •	Trained employees to use a Jewelry Engraving Machine and software.<br />
        •	Educated customers on varying merchandise information such as lab grown and earth mined diamonds.<br />

        <br />
        Skills – Communication, Teamwork, Problem Solving, Attention to Detail, Loss Prevention <br />
        <br />
        
    </p>
   
</div>
<div class="job-card p-4 mb-5">
    <h2 class="job-title">Chemical/Environmental Engineering Co-Op</h2>
    <h4 class="company-location">Westlake Chemical, Aberdeen, MS   </h4>
    <p class="job-description">
       • Improved the accuracy of daily, monthly, and yearly MDEQ reports using Microsoft VBA for Excel spreadsheets. <br />
       • Coordinated leak testing and repairs for 20+ valves and process lines containing vinyl chloride according to regulation. <br />
       • Calculated the volume of Vinyl Chloride released from a damaged process line to ensure it was below 1lb of emissions. <br />

        <br />
        Skills – Scientific Calculations, Engineering Solutions, Industrial Safety Practices, Microsoft VBA, Excel <br />
        <br />
        
    </p>
   
</div>
<div class="job-card p-4 mb-5">
    <h2 class="job-title">Cashier/Janitor</h2>
    <h4 class="company-location">Acadiana Cinemas - Picayune, Mississippi</h4>
    <p class="job-description">
        •	Provided excellent customer service while handling cash transactions efficiently and accurately.<br />
        •	Maintained cleanliness and organization of theater facilities, ensuring a safe and welcoming environment.<br />
        •	Collaborated with team members to manage high-traffic periods and streamline operations<br />

        <br />
        Skills – Food Service Practices, Communication, Problem Solving, Time Management <br />
        <br />
        
    </p>
   
</div>

