@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your privacy is important. This website does not collect or store any personal information from visitors, except for messages sent voluntarily through the contact form. Any information you provide (such as your name and email address) will be used solely to respond to your inquiry and will not be shared with third parties.<br />

    This site does not use cookies or tracking tools.<br />

    If you have any questions or concerns regarding privacy, please contact me at Cadenjthompson23@gmail.com.<br />
</p>
