@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>


<div class="container my-5">
  
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-2">
            <h3>
                This Website!
            </h3>
            <p>
                • It was created by using C# and Visual Studio 2022 in the .NET framework.
                <br/>
                <br />
                Skills: C#, Visual Studio, .NET, Bootstrap.

            </p>
        </div>
    </div>
    <hr class="project-divider">
    <div class="row align-items-center mb-4">
        <!-- Text Column -->
        <div class="col-md-6 order-md-2">
            <h3>
                Rock, Paper, Scissors Windows Application
            </h3>
            <p>
                • Developed a Rock-Paper-Scissors game using C#, .NET Framework, and Windows Forms, featuring interactive UI, round-based gameplay, score tracking, and SQLite database integration for storing game results.
                <br />
                <br />
                Skills: C#, Visual Studio, .NET.
                   <br />
                     <br />
            
                Github Project -
                <a href=" https://github.com/Nedac23/Rock-Paper-Scissors-Windows-Application"> https://github.com/Nedac23/Rock-Paper-Scissors-Windows-Application</a>
            </p>
        </div>

        <!-- Image Column -->
        <div class="col-md-6 order-md-1">
            <img src="~/images/RPS.jpg" class="img-fluid mb-2" alt="Project screenshot 1">
            <!--<img src="~/images/CV1.jpg" class="img-fluid" alt="Project screenshot 2">-->
        </div>
    </div>
    <hr class="project-divider">
    <!-- Another project -->
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-1">
            <h3> Abalone Minimax Agent</h3>
            <p>
                • Developed an application in Unity that allows users to play Abalone (a board game) against a custom AI agent.<br />
                • Utilized the minimax algorithm with alpha-beta pruning to decide the best move.<br />
                <br />
                Skills – C#, Microsoft Visual Studio and Unity<br />
                <br />
            
                Github Project -
                <a href=" https://github.com/Nedac23/Abalone-Minimax"> https://github.com/Nedac23/Abalone-Minimax</a>
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img src="~/images/Abalone.jpg" class="img-fluid" alt="Project screenshot">
        </div>
    </div>

    <hr class="project-divider">
    <div class="row align-items-center mb-4">
        <!-- Text Column -->
        <div class="col-md-6 order-md-2">
            <h3>
                Deep Q-Learning Traffic Lane Optimization

            </h3>
            <p>
                • Worked within a team to develop a deep q-learning system that made dynamic decisions about traffic lane availability based on SUMO traffic simulations.<br />
                • The model was able to actively change lane permissions with variations in traffic conditions to improve overall traffic flow.<br />
                <br />
                <br />

                Skills – SUMO traffic Simulation, Python, OpenAI Gym, and Git.
                <br />
                <br />
                Github Project -
                <a href="https://github.com/bcoop716/BusLaneML">https://github.com/bcoop716/BusLaneML</a>
               
            </p>
        </div>

        <!-- Image Column -->
        <div class="col-md-6 order-md-1">
            <img src="~/images/MLBus.jpg" class="img-fluid mb-2" alt="Project screenshot 1">
        </div>
    </div>
    <hr class="project-divider">
    <!-- Another project -->
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-1">
            <h3>
                Image Processing
            </h3>
            <p>
                • Implemented feature detection methods with SIFT, SURF, and ORB to analyze and extract meaningful visual information.<br />
                • Implemented an autoencoder to denoise images using PSNR.<br />
                <br />
                Skills – Python, MATLAB, OpenCV, and PyTorch<br />
                <br />
                Github Project -
                <a href="https://github.com/Nedac23/Image-Processing">https://github.com/Nedac23/Image-Processing</a>
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img src="~/images/SURF.png" class="img-fluid" alt="Project screenshot">
        </div>
    </div>
    <hr class="project-divider">
    <div class="row align-items-center mb-4">
        <!-- Text Column -->
        <div class="col-md-6 order-md-2">
            <h3>
                Loop Line Video Game

            </h3>
            <p>
                • A 2D sidescrolling murder mystery game that takes place on a train. Search lugage for clues, interigate passenders, and find weapons to solve the murder case.
                <br />
                <br />
                Skills: C#, Visual Studio, Unity.
                <br />
                <br />Developed the application “Loop Line” for the GMTK 2025 Game Jam -
                <a href=" https://nedac-studios.itch.io/loop-line"> https://nedac-studios.itch.io/loop-line</a>
              

               

            </p>
        </div>

        <!-- Image Column -->
        <div class="col-md-6 order-md-1">
            <img src="~/images/Title.png" class="img-fluid mb-2" alt="Project screenshot 1">
        </div>
    </div>
    <hr class="project-divider">
    <!-- Another project -->
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-1">
            <h3>
                Q Learning Taxi Game
            </h3>
            <p>
                • Used the reinforcement learning algorithm Q-learning to implement an AI agent that plays the game “Taxi Game” using Python, OpenAI gymnasium, and PyGame.
                <br />
                <br />
                Skills: Python, Visual Studio Code, OpenAI Gym, NumPy.
                <br />
                <br />
                Github Project -
                <a href=" https://github.com/Nedac23/Q-Learning-Taxi-Game"> https://github.com/Nedac23/Q-Learning-Taxi-Game</a>
               
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img src="~/images/TaxiGame.jpg" class="img-fluid" alt="Project screenshot">
        </div>
    </div>
</div>
